<footer class="footer">
  <ul class="smedia_menu_footer">
    <li>
      <a href="#" title="Icono Facebook"><i class="fa-brands fa-facebook fa-2x"></i></a>
    </li>
    <li>
      <a href="#" title="Icono Instagram"><i class="fa-brands fa-instagram fa-2x"></i></a>
    </li>
    <li>
      <a href="#" title="Icono X"><i class="fa-brands fa-x-twitter fa-2x"></i></a>
    </li>
    <li>
      <a href="#" title="Icono Youtube"><i class="fa-brands fa-youtube fa-2x"></i></a>
    </li>
  </ul>
  <img
    src="/src/assets/imagenes/logos/logo.png"
    alt="Logotipo de The Rolling Stones"
    srcset="
      /src/assets/imagenes/logos/logo.png?width=150 1x,
      /src/assets/imagenes/logos/logo.png?width=300  2x
    "
    width="150"
    height="150"
  />
  <div class="footer__enlaces container">
    <div class="footer__enlaces__paginas">
      <h3>ENLACES A PÁGINAS</h3>
      <ul class="footer__enlaces__lista__paginas">
        <li><a href="/src/index.html">Home</a></li>
        <li><a href="/src/presentacion.html">Presentación</a></li>
        <li><a href="/src/pages/categories/noticias.html">Noticias</a></li>
        <li><a href="/src/pages/categories/grupo.html">El&nbsp;Grupo</a></li>
        <li><a href="/src/pages/categories/historia.html">Historia</a></li>
        <li>
          <a href="/src/pages/categories/discografia.html">Discografía</a>
        </li>
        <li><a href="/src/pages/categories/giras.html">Giras</a></li>
        <li><a href="/src/pages/categories/premios.html">Premios</a></li>
        <li><a href="/src/enlaces.html">Enlaces</a></li>
        <li><a href="/src/categoria.html">Categorías</a></li>
        <li><a href="/src/pages/details/sala_conciertos.html">La&nbsp;Sala</a></li>
      </ul>
    </div>
    <div class="footer__enlaces__terminos">
      <h3>Términos Legales</h3>
      <ul class="legal">
        <li><a href="#">Aviso Legal</a></li>
        <li><a href="#">Política de Cookies</a></li>
        <li><a href="#">Política de privacidad</a></li>
      </ul>
    </div>
  </div>
  <p>2024 &copy; David Pecharromán López</p>
</footer>
