<header class="header">
  <nav class="menu_principal container">
    <div class="divlogo">
      <a href="index.html"
        ><img
          class="logo"
          src="assets/logo.png"
          alt="Logotipo de Los Rolling Stones"
        />
        <div class="name_web_in_logo">
          <p>The Rolling Stones</p>
          <p>Fan Zone</p>
        </div>
      </a>
    </div>
    <div class="name_web">
      <a href="index.html">
        <p>The Rolling Stones</p>
        <p>Fan Zone</p>
      </a>
    </div>
    <ul class="opciones_menu">
      <li><a href="presentacion.html">Presentación</a></li>
      <li><a href="noticias.html">Noticias</a></li>
      <li><a href="grupo.html">El&nbsp;Grupo</a></li>
      <li><a href="historia.html">Historia</a></li>
      <li><a href="discografia.html">Discografía</a></li>
      <li><a href="giras.html">Giras</a></li>
      <li><a href="premios.html">Premios</a></li>
      <!-- <li><a href="categoria.html">Categorías</a></li> -->
      <li><a href="enlaces.html">Enlaces</a></li>
    </ul>
    <ul class="smedia_menu">
      <li>
        <a href="#"><i class="fa-brands fa-facebook fa-xl"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa-brands fa-instagram fa-xl"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa-brands fa-x-twitter fa-xl"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa-brands fa-youtube fa-xl"></i></a>
      </li>
    </ul>
    <div class="bburguer_container">

      <button class="bburguer">
        <i class="fa-solid fa-bars fa-3x on"></i>
      </button>
    </div>
  </nav>
</header>
