<header class="header">
  <nav class="menu_principal container">
    <div class="divlogo">
      <a href="/src/index.html"
        ><img
          class="logo"
          src="/src/assets/imagenes/logos/logo.png"
          alt="Logotipo de Los Rolling Stones"
          srcset="/src/assets/imagenes/logos/logo.png?width=80 1x,
                  /src/assets/imagenes/logos/logo.png?width=160 2x
          "
          width="80"
          height="80"

        />
        <div class="name_web_in_logo">
          <p>The Rolling Stones</p>
          <p>Fan Zone</p>
        </div>
      </a>
    </div>
    <div class="name_web">
      <a href="/src/index.html">
        <p>The Rolling Stones</p>
        <p>Fan Zone</p>
      </a>
    </div>
    <ul class="opciones_menu">
      <li><a href="/src/presentacion.html">Presentación</a></li>
      <li><a href="/src/pages/categories/noticias.html">Noticias</a></li>
      <li><a href="/src/pages/categories/grupo.html">El&nbsp;Grupo</a></li>
      <li><a href="/src/pages/categories/historia.html">Historia</a></li>
      <li><a href="/src/pages/categories/discografia.html">Discografía</a></li>
      <li><a href="/src/pages/categories/giras.html">Giras</a></li>
      <li><a href="/src/pages/categories/premios.html">Premios</a></li>
      <li><a href="/src/enlaces.html">Enlaces</a></li>
    </ul>
    <ul class="smedia_menu">
      <li>
        <a href="#"><i class="fa-brands fa-facebook fa-xl"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa-brands fa-instagram fa-xl"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa-brands fa-x-twitter fa-xl"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa-brands fa-youtube fa-xl"></i></a>
      </li>
    </ul>
    <div class="bburguer_container">
      <button class="bburguer">
        <i class="fa-solid fa-bars fa-3x on"></i>
      </button>
    </div>
  </nav>
</header>
