<header>
  <nav class="menu_principal">
    <div class="divlogo">
      <a href="index.html"
        ><img
          class="logo"
          src="./assets/logo.png"
          alt="Logotipo de Los Rolling Stones"
        />
      </a>
    </div>
    <div class="name_web">
      <a href="index.html">
        <p>The Rolling Stones</p>
        <p>Fan Zone</p>
      </a>
    </div>
    <ul class="opciones_menu">
      <li><a href="/src/categoria.html">Categoría</a></li>
      <li><a href="#">Presentación</a></li>
      <li><a href="#">Enlaces</a></li>
    </ul>
    <ul class="smedia_menu">
      <li>
        <a href="#"><i class="fa-brands fa-facebook"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa-brands fa-instagram"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa-brands fa-youtube"></i></a>
      </li>
    </ul>
    <button class="bburguer">
      <i class="fa-solid fa-bars fa-3x on"></i>
      <i class="fa-regular fa-circle-xmark fa-3x"></i>
    </button>
  </nav>
</header>
