<div class="newsletter">
  <div class="container">
    <h2>BOLETÍN</h2>
    <p>
      Para estar al día,
      <strong>suscríbete a nuestra <i lang="en">newsletter</i></strong
      >.
    </p>
    <form action="#" method="post">
      <ul>
        <li>
          <label for="name">Nombre</label>
          <input
            type="text"
            id="name"
            name="name"
            placeholder="Introduce tu nombre"
            required
          />
          <span class="error"></span>
        </li>

        <li>
          <label for="email">Email</label>
          <input
            type="email"
            id="email"
            name="email"
            placeholder="Introduce tu email"
            required
          />
          <span class="error"></span>
        </li>
      </ul>

      <button class="bgeneral" type="submit">SUSCRIBIRSE</button>
    </form>
  </div>
</div>
