@import url("https://fonts.googleapis.com/css2?family=Inspiration&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --primary-color: rgb(256, 256, 256);
  --secondary-color: rgba(158, 139, 94, 1);
  --secondary-color-alpha: rgba(255, 255, 255, 0.8);
  --terciary-color: rgba(91, 91, 91, 1);
  --cuaternary-color: rgba(255, 45, 48, 1);
  --cuaternary-color-alpha: rgba(188, 68, 154, 0.8);
  --quinary-color: rgba(0, 0, 0, 1);
  --bg-color: rgb(232, 232, 232);
  --bg-secondary-color: rgba(20, 20, 20, 1);
  --bg-terciary-color: rgba(35, 35, 35, 1);
  --bg-extremos: rgba(0, 0, 0, 1);

  --main-font: "Roboto", sans-serif;
  --secondary-font: "Inspiration", serif;

  --alto-header: 10rem;
}
/****************************
  Estilos generales
  *****************************/

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: var(--main-font);
  font-size: 10px;
  /* height: 100vh; */
}

body {
  background-color: var(--bg-extremos);
  color: var(--primary-color);
  font-size: 1.35rem;
}
a {
  text-decoration: none;
  color: var(--primary-color);
  cursor: pointer;
}
.detalle a {
  color: var(--cuaternary-color);
}
.detalle a:hover {
  color: var(--terciary-color);
}

h1 {
  text-transform: uppercase;
  padding-bottom: 3rem;
  text-align: left;
  font-weight: 100;
  margin-top: 2.5rem;
}
.detalle h1 {
  font-weight: 400;
  color: var(--quinary-color);
}

h2 {
  font-weight: 300;

  color: var(--terciary-color);
}
.detalle h2 {
  color: var(--quinary-color);
  font-weight: 400;
  margin-bottom: 2rem;
}
main p {
  font-size: 1.5rem;
  line-height: 2.2rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

/* main p:not(:first-of-type) {
  margin-top: 2rem;
} */
blockquote p,
q,
cite {
  font-weight: 700;
  font-style: italic;
}
blockquote {
  width: 90%;
  margin: 1rem auto;
  padding-left: 1rem;
  border-left: 6px solid var(--cuaternary-color);
}
blockquote footer p {
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 400;
}
/****************************
     MENU PRINCIPAL
*****************************/

header.header {
  height: var(--alto-header);
  width: 100%;

  background-color: var(--bg-extremos);
  /* border-bottom: 1px solid var(--primary-color); */
  display: flex;
  justify-content: center;

  position: fixed;
  top: 0;
  z-index: 100;
}

header.header ul.smedia_menu li {
  margin: 0rem 0.5rem;
}
header.header ul.smedia_menu {
  display: none;
}
nav.menu_principal {
  display: flex;
  color: var(--primary-color);
  align-items: center;
  justify-content: space-between;
  width: 95%;
}
header.header ul.opciones_menu {
  display: none;
  list-style: none;
  text-transform: uppercase;
  flex-direction: column;
  position: absolute;
  top: var(--alto-header);
  left: 0rem;
  width: 80%;
  background-color: var(--bg-color);
  padding-bottom: 1rem;
  z-index: 100;
}

header.header ul.opciones_menu > li {
  margin: 0rem 2rem;
  border-bottom: 1px solid var(--secondary-color);
}

header.header ul.opciones_menu > li > a {
  color: var(--secondary-color);
  display: block;
  padding: 2rem 2rem;
  font-size: 1.6rem;
  font-weight: bold;
}
header.header ul.opciones_menu > li > a:hover {
  color: var(--terciary-color);
}

iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  border: 0;
  margin-bottom: 2rem;
}
main {
  background-color: var(--bg-secondary-color);
  min-height: 100vh;
  padding-bottom: 6rem;
}

div.divlogo a {
  display: flex;
  align-items: center;
}

div.name_web p,
div.name_web_in_logo p {
  font-family: var(--secondary-font);
  font-size: 3rem;
}
div.name_web a p:last-child,
div.name_web_in_logo p:last-child {
  font-size: 2.5rem;
  text-align: center;
  color: var(--cuaternary-color);
}
div.name_web,
div.name_web_in_logo {
  display: none;
}
section.splide .banner {
  display: none;
}
@media (min-width: 350px) {
  div.name_web {
    display: block;
  }
  section.splide .banner {
    display: block;
  }
}

button.bburguer {
  color: var(--primary-color);
  background-color: var(--bg-extremos);
  border: none;
  padding: 2rem;
  cursor: pointer;
}
button.bburguer > i.fa-circle-xmark {
  display: none;
}

/****************************
     PAGINA INDEX
*****************************/
/* main.index {
  background-color: black;
  background-image: url("/src/assets/portadadesktop.jpg");
  background-position: right 65% top 0rem;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
 
} */
main.index {
  height: 100vh;
  width: 100vw;
}
.splide {
  width: 100%;
}

.splide__slide {
  position: relative;
}

.splide__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner {
  background-color: var(--secondary-color-alpha);

  height: 20rem;
  position: absolute;
  width: 80%;

  color: var(--quinary-color);
  font-size: 3rem;
  text-transform: uppercase;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  /*  top: calc(var(--alto-header) + 3rem); */
}

.banner_top {
  top: calc(var(--alto-header) + 3rem);
}
.banner_bottom {
  bottom: 15rem;
}

div.banner__container {
  /*  margin-top: 2rem; */
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
/* p.banner__text {
  font-size: 2.5rem;
  line-height: 3.5rem;
  margin-bottom: 0rem;
}
p.banner__text__secondary {
  font-weight: bold;
  line-height: 2rem;
  font-size: 2rem;
  margin-bottom: 0rem;
}
p.banner__text__terciary {
  font-weight: bold;
  line-height: 2rem;
  font-size: 2rem;
  font-weight: 200;
  margin-bottom: 0rem;
} */
p.banner__text {
  font-size: 2.5rem;
  line-height: 2.5rem;
  margin-bottom: 0rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
p.banner__text__secondary {
  font-weight: bold;
  line-height: 2rem;
  font-size: 2rem;
  margin-bottom: 0rem;
}
p.banner__text__terciary {
  font-weight: bold;
  line-height: 2rem;
  font-size: 2rem;
  font-weight: 200;
  margin-bottom: 0rem;
}
div.banner__container a {
  margin-top: 2rem;
  width: 20rem;
}

main:not(.index) {
  padding-top: calc(var(--alto-header) + 1rem);
}
div.banner_fluid + main {
  padding-top: 1rem;
}
/****************************
     PAGINA CATEGORIA
*****************************/

main.categoria article:not(:first-child) {
  margin-top: 3rem;
}

/****************************
   CARD
*****************************/

div.card_container {
  /* min-height: 40rem; */
  background-color: var(--bg-terciary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  margin-top: 1rem;
  /*   background-color: orange; */
}

div.card_image,
div.card_content {
  /* width: 92%; */
  padding: 1.5rem;
}

div.card_content {
  width: 100%;

  height: 14rem;
  display: flex;
  flex-direction: column;
  padding: 0 1.5rem;
  /* background-color: orange; */
  position: relative;
}
div.card_content h3 {
  text-transform: uppercase;
}
div.card_content p {
  margin-top: 0.8rem;
  flex-grow: 1;
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-line-clamp */
  /* https://css-tricks.com/almanac/properties/l/line-clamp/ */
  /* display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;  
  overflow: hidden; */
}
/* .truncate {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
} */
div.card_content .bgeneral {
  /* position: absolute;
  right: 1.5rem;
  bottom: 0; */
  align-self: flex-end;
  margin-bottom: 1.5rem;

  /* justify-self: flex-end; */

  /*  margin-top: 1.5rem; */
  /* margin-bottom: 2rem; */
}
/****************************
     PAGINA DETALLES GENERAL
*****************************/
main.detalle {
  background-color: var(--bg-color);
  color: var(--terciary-color);
}

/* main.detalle a {
  color: var(--cuaternary-color);
} */
ul.breadcrumb {
  list-style: none;
  display: flex;
  padding-top: calc(var(--alto-header) + 1rem);
}
ul.breadcrumb > li {
  display: inline-block;

  /* position: relative; */
}
ul.breadcrumb li a {
  color: var(--terciary-color);
}
ul.breadcrumb li a:hover {
  color: var(--secondary-color);
}
ul.breadcrumb li.active {
  color: var(--cuaternary-color);
}
ul.breadcrumb li + li::before {
  content: ">";
  color: var(--terciary-color);
  padding-right: 0.5rem;
  padding-left: 0.5rem;

  /* position: absolute; */
}

figcaption {
  text-align: right;
  font-size: 1rem;
  line-height: 2rem;
}
figcaption a {
  color: var(--cuaternary-color);
}
div.intro p {
  margin-top: 1rem;
  font-size: 1.8rem;
  letter-spacing: 0rem;
  line-height: 2.5rem;
}
div.grid__relacionados {
  /* margin-top: 8rem; */
  display: grid;
  gap: 2rem;
  grid-gap: 2rem;
  grid-template-columns: repeat(1, 1fr);
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap; */
}
section.lista_categorias {
  margin-top: 2rem;
}
section.lista_categorias ul, main.categoria h1+ul {
  margin-top: 1rem;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}
section.lista_categorias ul > li {
  border: 1px solid var(--terciary-color);
  font-size: 1.1rem;
  margin: 0.4rem 0.6rem 0.3rem 0;
  padding: 0.3rem 0.8rem;
  background-color: var(--primary-color);
  border-radius: 1rem;
}
main.categoria h1+ul > li {
  border: 3px solid var(--cuaternary-color);
  font-size: 1.8rem;
  margin: 0.4rem 1.5rem 0.8rem 0;
  padding: 0.3rem 1rem;
  
  border-radius: 1rem;
  transition: all 500ms ease;
}
main.categoria h1+ul > li:hover {
  border: 3px solid var(--primary-color);
 
}
main.categoria h1+ul > li > a:hover {
  color: var(--cuaternary-color);
 
}
section.lista_categorias ul > li:hover {
  background-color: var(--bg-secondary-color);
}
section.lista_categorias ul > li > a {
  font-size: 1.5rem;
  
}
div.grid-detalle {
  display: grid;
}
div.grid__relacionados > article > div.card_container {
  background-color: var(--primary-color);
  
}

/****************************
     PAGINA PRESENTACION
*****************************/
main.presentacion section p {
  font-size: 2rem;
  line-height: 3rem;
}
span.name_web_presentacion {
  text-decoration: underline;
  color: var(--cuaternary-color);
}

/****************************
     PAGINA HISTORIA
*****************************/

/****************************
     PAGINA ENLACES
*****************************/

/****************************
   FOOTER
*****************************/
footer.footer {
  background-color: var(--bg-extremos);
  min-height: 15rem;
  /* height: 25%; */
}
footer.footer ul.smedia_menu_footer {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 5rem;
}
footer.footer ul.smedia_menu_footer li {
  display: flex;
  padding: 1rem;
}
footer.footer ul.smedia_menu_footer li a {
  color: var(--terciary-color);
}
footer.footer ul.legal {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin-top: 4rem;
  padding-bottom: 5rem;
}

footer.footer ul.legal li {
  margin: 0.5rem 0rem;
}
footer.footer ul.legal li a {
  color: var(--terciary-color);
  text-transform: uppercase;
}
footer.footer ul.legal li a:hover {
  color: var(--cuaternary-color);
}
footer.footer > p {
  text-align: center;
  padding-bottom: 5rem;
  color: var(--cuaternary-color);
  text-transform: uppercase;
  font-size: 1rem;
}
/****************************
    CLASES
  *****************************/
.container {
  max-width: 1140px;
  width: 80%;

  /* width: 100%; */
  margin-left: auto;
  margin-right: auto;
}
.container_categoria {
  margin-top: 3rem;
  width: 80%;

  margin: 0 auto;
  padding-bottom: 5rem;
}
.enlace {
  color:var(--cuaternary-color);
  cursor: pointer;

}
/* .enlace:hover {
  color: var(--secondary-color);
}
.fa-brands:hover {
  color: var(--cuaternary-color);
} */
.logo {
  width: 8rem;
  height: 8rem;
}
.img_fluid {
  max-width: 100%;
  height: auto;
  display: block;
}
.banner_fluid {
  display: block;
  width: 100%;
  padding-top: calc(var(--alto-header) + 1rem);
  display: none;
}
.banner_fluid img {
  width: 100%;
}
.bgeneral {
  background-color: var(--cuaternary-color);
  border-radius: 5px;
  border: none;
  color: var(--bg-color);
  font-size: 1.5rem;
  padding: 1.2rem 1.2rem;
  /* margin-top: 4rem; */
  /* width: 100%; */
  display: inline-block;
  text-align: center;
  cursor: pointer;
  /* text-transform: uppercase; */
}
.bgeneral .fa-chevron-right {
  margin-left: 2rem;
}
.bgeneral:hover {
  background-color: var(--terciary-color);
}

/* .parrafo_imagen {
  margin-top: 2rem;
  width: 100%;
} */

.parrafo_imagen img {
  width: 100%;
  margin-bottom: 2rem;
}
/* .clearfix {
  clear: both;
} */
.grid-videos {
  margin-top: 3rem;
  display: grid;
  gap: 2rem;
}
.canciones {
  font-weight: bold;
  font-style: italic;
}
/* .parrafo_imagen p {
  margin-top: 2rem;
} */

/* .parrafo_imagen img {
  object-fit: contain;
  width: 100%;
} */
/************************************************************************
                                    min-width: 768px
  ************************************************************************/
@media (min-width: 768px) {
  header.header {
    position: relative;
  }
  main:not(.index) {
    padding-top: 1rem;
  }

  /****************************
       PAGINA CATEGORIA
  *****************************/
  .container_categoria {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    margin-top: 3rem;
  }
  main.categoria article:not(:first-child) {
    margin-top: 0;
  }
  /****************************
       PAGINA PRESENTACION
  *****************************/
  main.presentacion section p {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }
  p.banner__text {
    font-size: 2rem;
  }
  .banner_top {
    top: 3rem;
  }
  .banner_fluid {
    padding-top: 0rem;
  }
  .parrafo_imagen img {
    float: left;
    width: 50%;
    margin-right: 2rem;
    margin-bottom: 1rem;
  }
  /****************************
     PAGINA DETALLES GENERAL
*****************************/
  ul.breadcrumb {
    padding-top: 1rem;
  }
  div.grid__relacionados {
    grid-template-columns: repeat(2, 1fr);
  }
}
/************************************************************************
                                    min-width: 992px
  ************************************************************************/
@media (min-width: 992px) {
  /****************************
       HEADER
  *****************************/
  header.header {
    position: relative;
  }
  nav.menu_principal {
    width: 90%;
    /*  margin-left: 0rem; */
  }

  button.bburguer {
    display: none;
  }
  nav div.name_web_in_logo {
    display: block;
  }
  nav div.name_web {
    display: none;
  }

  header.header ul.opciones_menu {
    /* le añado el important porque al modificar
    con javascript el css lo añade en linea y por tanto 
    supera en prioridad a la regla definida.  */
    display: flex !important;
    list-style: none;
    text-transform: uppercase;
    flex-direction: row;
    position: inherit;
    justify-content: center;
    width: auto;
    background-color: inherit;
    padding: inherit;
    z-index: inherit;
  }
  header.header ul.opciones_menu > li {
    margin: 1rem 2rem;
    border-bottom: inherit;
  }

  header.header ul.opciones_menu > li > a {
    color: var(--primary-color);
    display: inherit;

    padding: 1rem;
    font-size: 1.6rem;
    font-weight: bold;
  }
  header.header ul.opciones_menu > li > a:hover {
    color: var(--terciary-color);
  }

  header.header ul.smedia_menu {
    display: flex;
    list-style: none;
  }
  main:not(.index) {
    padding-top: 1rem;
  }
  div.card_content {
    height: 18rem;
  }
  /****************************
       PAGINA INDEX
  *****************************/
  /* main.index {
    background-position: right 110% top 0rem;
  } */
  .splide {
    height: 85vh;
  }
  /* .banner {
    top: inherit;
  } */
  .banner_top {
    top: 3rem;
  }
  .banner_bottom {
    bottom: 25rem;
  }
  /****************************
       PAGINA CATEGORIA
  *****************************/
  .container_categoria {
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    margin-top: 3rem;
  }
  main.categoria article:not(:first-child) {
    margin-top: 0;
  }
  main.categoria {
    padding-top: 1rem;
  }
  /****************************
       PAGINA PRESENTACION
  *****************************/
  main.presentacion section p {
    font-size: 3rem;
    line-height: 4rem;
  }
  /****************************
       PAGINA DETALLE
  *****************************/
  div.grid__relacionados {
    grid-template-columns: repeat(3, 1fr);
  }
  /****************************
      clases
  *****************************/
  .grid-videos {
    grid-template-columns: repeat(2, 1fr);
  }
}
/************************************************************************
                                    min-width: 1200px
  ************************************************************************/
@media (min-width: 1200px) {
  section.relacionados > h3 {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
  .banner_bottom {
    bottom: 20rem;
  }
  div.grid-detalle {
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
    grid-gap: 2rem;
  }

  div.grid-detalle article {
    grid-column: 1/9;
  }
  div.grid-detalle aside {
    grid-column: 9/13;
  }
  /* section.relacionados {
    margin-top: 2rem;
  } */
}
/************************************************************************
                                    min-width: 1800px
  ************************************************************************/
@media (min-width: 1800px) {
}
