@import url("https://fonts.googleapis.com/css2?family=Inspiration&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --primary-color: rgb(256, 256, 256);
  --secondary-color: rgba(158, 139, 94, 1);
  --secondary-color-alpha: rgba(255, 255, 255, 0.8);
  --terciary-color: rgba(91, 91, 91, 1);
  --cuaternary-color: rgba(255, 45, 48, 1);
  --cuaternary-color-alpha: rgb(158, 78, 79);
  --quinary-color: rgba(0, 0, 0, 1);
  --bg-color: rgb(232, 232, 232);
  --bg-secondary-color: rgba(20, 20, 20, 1);
  --bg-terciary-color: rgba(35, 35, 35, 1);
  --bg-extremos: rgba(0, 0, 0, 1);

  --main-font: "Roboto", sans-serif;
  --secondary-font: "Inspiration", serif;

  --alto-header: 10rem;
}
/****************************
  Estilos generales
  *****************************/

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: var(--main-font);
  font-size: 10px;
  /* height: 100vh; */
}

body {
  background-color: var(--bg-extremos);
  color: var(--primary-color);
  font-size: 1.35rem;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  cursor: pointer;
}

.detalle a,
main.enlaces a {
  color: var(--cuaternary-color);
  transition: all 500ms ease;
}
.detalle a:hover,
main.enlaces a:hover {
  color: var(--secondary-color);
}

h1 {
  text-transform: uppercase;
  padding-bottom: 3rem;
  text-align: left;
  font-weight: 100;
  margin-top: 2.5rem;
}
.detalle h1 {
  font-weight: 400;
  color: var(--quinary-color);
}

h2 {
  font-weight: 300;

  color: var(--bg-color);
}
.detalle h2 {
  color: var(--quinary-color);
  font-weight: 400;
  margin-bottom: 2rem;
}
main.enlaces h3 {
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 1rem;
}

main.enlaces article > section:not(:first-of-type) {
  margin-top: 6rem;
}
main p,
form {
  font-size: 1.5rem;
  line-height: 2.2rem;
  letter-spacing: 0.1rem;
  font-weight: 400;
  margin-bottom: 2rem;
}

blockquote p,
q,
cite {
  font-weight: 700;
  font-style: italic;
}
q {
  quotes: "«" "»";
}
blockquote {
  width: 90%;
  margin: 1rem auto;
  padding-left: 1rem;
  border-left: 6px solid var(--cuaternary-color);
}
blockquote footer p {
  font-style: normal;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-weight: 400;
}
article > section {
  margin-top: 3rem;
}
img {
  display: block;
  max-width: 100%;
}

/****************************
     MENU PRINCIPAL
*****************************/
header.header {
  height: var(--alto-header);
  width: 100%;
  background-color: var(--bg-extremos);
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 999;
}
header.header ul.smedia_menu li {
  margin: 0rem 0.5rem;
}
header.header ul.smedia_menu {
  display: none;
}
header.header ul.smedia_menu li > a {
  transition: all 200ms ease-out;
}
header.header ul.smedia_menu li > a:hover {
  color: var(--cuaternary-color);
}
nav.menu_principal {
  display: flex;
  color: var(--primary-color);
  align-items: center;
  justify-content: space-between;
  width: 95%;
}
header.header ul.opciones_menu {
  display: none;
  list-style: none;
  text-transform: uppercase;
  flex-direction: column;
  position: absolute;
  top: var(--alto-header);
  left: 0rem;
  width: 80%;
  background-color: var(--primary-color);
  padding-bottom: 1rem;
  z-index: 100;
}
header.header ul.opciones_menu > li {
  margin: 0rem 2rem;
  border-bottom: 1px solid var(--secondary-color);
}
header.header ul.opciones_menu > li > a {
  color: var(--secondary-color);
  display: block;
  padding: 2rem 2rem;
  font-size: 1.6rem;
  font-weight: bold;
}
header.header ul.opciones_menu > li > a:hover {
  color: var(--terciary-color);
}
iframe.youtube {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
  border: 0;
  margin-bottom: 2rem;
}
main {
  background-color: var(--bg-secondary-color);
  min-height: 100vh;
}

div.divlogo {
  width: 50%;
}

div.bburguer_container {
  text-align: end;
  width: 50%;
}
div.divlogo a {
  display: flex;
  align-items: center;
}
div.name_web p,
div.name_web_in_logo p {
  font-family: var(--secondary-font);
  font-size: 3rem;
}
div.name_web a p:last-child,
div.name_web_in_logo p:last-child {
  font-size: 2.5rem;
  text-align: center;
  color: var(--cuaternary-color);
}
div.name_web,
div.name_web_in_logo {
  display: none;
}
section.splide .banner {
  display: none;
}
@media (min-width: 350px) {
  div.name_web {
    display: block;
    width: 60%;
    text-align: center;
  }
  section.splide .banner {
    display: block;
  }
  div.divlogo {
    width: 20%;
  }

  div.bburguer_container {
    text-align: end;
    width: 20%;
  }
}
span.comentarios {
  font-family: var(--secondary-font);
  font-size: 3rem;
  color: var(--cuaternary-color);
}
button.bburguer {
  color: var(--primary-color);
  background-color: var(--bg-extremos);
  border: none;
  padding: 2rem;
  cursor: pointer;
}
button.bburguer > i.fa-circle-xmark {
  display: none;
}
div.getty {
  text-align: center;
  margin-bottom: 1rem;
}
div.insta {
  justify-content: center;
  margin-bottom: 2rem;
  display: none;
  margin-top: 2rem;
}
@media (min-width: 414px) {
  div.insta {
    display: flex;
  }
}
div.flex-elements {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/****************************
     PAGINA SALA CONCIERTOS
*****************************/
@keyframes movimientotitulo {
  0% {
    transform: translateY(-500px);
    text-align: center;
    font-size: 3rem;
  }

  30% {
    transform: rotate(360deg);
  }
  80% {
    transform: scale(2);
  }
  90% {
    /* transform: translateY(calc((100% / 2 -200px))); */
    /* font-size: 3rem; */
  }
  100% {
    /* transform: translateY(center); */
    font-size: 10rem;
  }
}
@keyframes movimientofocos {
  0% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(-40deg);
  }
}
main.sala__conciertos {
  background-color: var(--quinary-color);
}
div.portada {
  position: relative;
  /*  display: block; */
}
div.loader {
  width: 100vw;
  height: 100vh;
  /* background-color: black; */
  color: white;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  margin-top: 10rem;
  align-items: center;
  /* position: relative; */
  /* position: absolute;
  top: 0;
  z-index: 99; */
}
div.escena__intro {
  position: relative;
  overflow: hidden;
  background-image: url("../assets/concert-3387324_1920.jpg");
  background-color: black;
}
div.escena__foco {
  position: absolute;
}
div.escena__intro__fondo {
  background: linear-gradient(180deg, black, rgba(87, 63, 223, 0.8));
  opacity: 0.7;
  width: 100%;
  height: 100%;
  z-index: 99;
  position: absolute;
}

div.foco1 {
  /*  margin-left: auto;
  margin-right: auto; */
  top: -200;
  left: 0;
  z-index: 200;
  /* right: 0; */
  animation: movimientofocos 5s infinite alternate ease both;

  animation-delay: 2s;
}
div.foco2 {
  /* margin-left: auto;
  margin-right: auto; */
  top: -200;
  right: 0;
  z-index: 200;
  /*  left: 0; */

  animation: movimientofocos 4s infinite alternate ease both;
}
div.loader img {
  width: 30%;
  z-index: 300;
}

p.loader__logo1,
p.loader__logo2 {
  font-family: var(--secondary-font);
  text-shadow: 5px 5px 5px black;
  font-size: 5rem;
  line-height: 2rem;
  z-index: 300;
}

p.loader__logo1 {
  margin-top: 5rem;
  animation: movimientotitulo 2s ease-in-out both;
  z-index: 300;
}
p.loader__logo2 {
  margin-top: 5rem;
  color: var(--cuaternary-color);
  font-size: 8rem;
}

div.loader button {
  width: 30%;
  margin-top: 5rem;
  font-size: 3rem;
  background-color: black;
  z-index: 300;
}
/****************************
     PAGINA INDEX
*****************************/
main.index {
  height: 100vh;
  width: 100vw;
}
.splide {
  width: 100%;
}
.splide__slide {
  position: relative;
}

.splide__slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.banner {
  background-color: var(--secondary-color-alpha);
  height: 20rem;
  position: absolute;
  width: 80%;
  color: var(--quinary-color);
  font-size: 3rem;
  text-transform: uppercase;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.banner_top {
  top: calc(var(--alto-header) + 3rem);
}
.banner_bottom {
  bottom: 15rem;
}
div.banner__container {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  overflow: hidden;
}
p.banner__text {
  font-size: 2rem;
  line-height: 2rem;
  margin-bottom: 0rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
p.banner__text__secondary {
  font-weight: bold;
  line-height: 2rem;
  font-size: 2rem;
  margin-bottom: 0rem;
}
p.banner__text__terciary {
  font-weight: bold;
  line-height: 2rem;
  font-size: 1.5rem;
  font-weight: 200;
  margin-bottom: 0rem;
}
div.banner__container a {
  margin-top: 2rem;
  width: 20rem;
}
div.banner_row {
  margin-left: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
div.banner__img__container {
  /*  width: 50px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 120%;
  margin-left: 30px;
  /* margin-right: 3rem; */
  /* background-color: var(--quinary-color); */
  /* border-radius: 3rem; */
  overflow: hidden;
  /* border: 2px solid var(--cuaternary-color); */
  font-family: var(--secondary-font);
  color: var(--primary-color);
  font-size: 15rem;
}

img.clip_image {
  /* clip-path: polygon(35% 24%, 24% 28%, 17% 34%, 11% 39%, 7% 43%, 3% 51%, 1% 55%, 1% 59%, 1% 65%, 1% 71%, 1% 77%, 1% 81%, 1% 86%, 3% 90%, 7% 94%, 17% 94%, 24% 93%, 29% 90%, 33% 88%, 40% 89%, 47% 89%, 53% 87%, 55% 83%, 58% 79%, 63% 77%, 67% 75%, 71% 77%, 79% 78%, 84% 77%, 88% 78%, 95% 77%, 99% 76%, 100% 64%, 85% 62%, 83% 63%, 76% 60%, 75% 52%, 75% 43%, 74% 36%, 73% 32%, 69% 29%, 62% 27%, 59% 25%, 63% 21%, 64% 15%, 63% 11%, 59% 4%, 54% 1%, 48% 0%, 41% 1%, 37% 3%, 34% 9%, 34% 17%, 36% 20%); */
  clip-path: circle(61.2% at 79% 39%);
  width: 100%;
  border-right: 5px solid var(--cuaternary-color);
  /* border-top: 2px solid var(--cuaternary-color);
  border-bottom: 2px solid var(--cuaternary-color); */
}
img.clip_image_Mick {
  clip-path: polygon(
    35% 24%,
    24% 28%,
    17% 34%,
    11% 39%,
    7% 43%,
    3% 51%,
    1% 55%,
    1% 59%,
    1% 65%,
    1% 71%,
    1% 77%,
    1% 81%,
    1% 86%,
    3% 90%,
    7% 94%,
    17% 94%,
    24% 93%,
    29% 90%,
    33% 88%,
    40% 89%,
    47% 89%,
    53% 87%,
    55% 83%,
    58% 79%,
    63% 77%,
    67% 75%,
    71% 77%,
    79% 78%,
    84% 77%,
    88% 78%,
    95% 77%,
    99% 76%,
    100% 64%,
    85% 62%,
    83% 63%,
    76% 60%,
    75% 52%,
    75% 43%,
    74% 36%,
    73% 32%,
    69% 29%,
    62% 27%,
    59% 25%,
    63% 21%,
    64% 15%,
    63% 11%,
    59% 4%,
    54% 1%,
    48% 0%,
    41% 1%,
    37% 3%,
    34% 9%,
    34% 17%,
    36% 20%
  );

  width: 100%;
  border-right: 5px solid var(--cuaternary-color);
  /* border-top: 2px solid var(--cuaternary-color);
  border-bottom: 2px solid var(--cuaternary-color); */
}
main:not(.index) {
  padding-top: calc(var(--alto-header) + 1rem);
}
div.banner_fluid + main {
  padding-top: 1rem;
}
button.splide__arrow.splide__arrow--prev,
button.splide__arrow.splide__arrow--next,
button.splide__pagination__page.is-active {
  background: var(--cuaternary-color) !important;
}
button.splide__arrow {
  width: 2.5em;
  height: 2.5em;
}
/****************************
     PAGINA CATEGORIA
*****************************/
main.categoria article:not(:first-child) {
  margin-top: 3rem;
}
/****************************
   CARD
*****************************/
div.card_container {
  min-height: 42rem;
  background-color: var(--bg-terciary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}

div.card_image,
div.card_content {
  padding: 1.5rem;
}
div.card_content {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 0 1.5rem;
  position: relative;
}
div.card_content h3 {
  text-transform: uppercase;
  color: var(--cuaternary-color);
}
div.card_content p {
  margin-top: 0.8rem;
  flex-grow: 1;
}
div.card_content .bgeneral {
  align-self: flex-end;
  margin-bottom: 1.5rem;
}

/****************************
     PAGINA DETALLES GENERAL
*****************************/
main.detalle {
  background-color: var(--bg-color);
  color: var(--terciary-color);
}
ul.breadcrumb {
  list-style: none;
  display: flex;
}
ul.breadcrumb > li {
  display: inline-block;
}
ul.breadcrumb li a {
  color: var(--terciary-color);
}
ul.breadcrumb li a:hover {
  color: var(--secondary-color);
}
ul.breadcrumb li.active {
  color: var(--cuaternary-color);
}
ul.breadcrumb li + li::before {
  content: ">";
  color: var(--terciary-color);
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
figcaption {
  text-align: right;
  font-size: 1rem;
  line-height: 2rem;
}
figcaption a {
  color: var(--cuaternary-color);
}
figure img {
  border: 3px solid white;
}
div.intro p {
  margin-top: 1rem;
  font-size: 1.8rem;
  letter-spacing: 0rem;
  line-height: 2.5rem;
}
div.grid-detalle aside {
  margin-top: 3rem;
}
div.grid__relacionados {
  display: grid;
  gap: 2rem;
  grid-gap: 2rem;
  grid-template-columns: repeat(1, 1fr);
}
section.lista_categorias {
  margin-top: 2rem;
}
section.lista_categorias ul,
main.categoria h1 + ul {
  margin-top: 1rem;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3rem;
}
section.lista_categorias ul > li {
  border: 1px solid var(--terciary-color);
  font-size: 1.1rem;
  margin: 0.4rem 0.6rem 0.3rem 0;
  padding: 0.3rem 0.8rem;
  background-color: var(--primary-color);
  border-radius: 1rem;
  transition: all 200ms ease;
}
section.lista_categorias ul > li:hover {
  background-color: var(--bg-secondary-color);
}
section.lista_categorias ul > li > a {
  font-size: 1.5rem;
  color: var(--cuaternary-color);
}
section.lista_categorias ul > li > a:hover {
  color: var(--cuaternary-color);
}
main.categoria h1 + ul > li {
  border: 3px solid var(--cuaternary-color);
  font-size: 1.8rem;
  margin: 0.4rem 1.5rem 0.8rem 0;
  padding: 0.3rem 1rem;

  border-radius: 1rem;
  transition: all 500ms ease;
}
main.categoria h1 + ul > li:hover {
  border: 3px solid var(--primary-color);
}
main.categoria h1 + ul > li > a:hover {
  color: var(--cuaternary-color);
}
div.grid__relacionados > article > div.card_container {
  background-color: var(--primary-color);
}
div.listas_componentes {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
}
div.listas_componentes section {
  width: calc(50% - 3rem);
}
div.listas_componentes section h3 {
  background-color: var(--primary-color);
  padding: 1.5rem 1rem;
  text-align: center;
}
div.listas_componentes dl > dt {
  font-weight: bold;
  font-size: 1.6rem;
  margin-top: 2rem;
}
div.listas_componentes dl > dt + dd {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  margin-left: 2rem;
}
ol.giras {
  font-size: 1.6rem;
  list-style-position: inside;
}
ol.giras li:not(:first-of-type) {
  margin-top: 1rem;
}
/*Esta clase añadirá una barra de desplazamiento horizontal cuando sea necesario para que los usuarios que vean la tabla en dispositivos pequeños puedan desplazarse hacia la derecha para ver el contenido completo de la tabla */
.table-fluid {
  width: 100%;
  overflow-x: auto;
  margin-top: 30px;
}
table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
}
caption {
  font-size: 1.6rem;
  font-weight: 700;
  padding: 15px;
}
td,
th {
  padding: 0.5rem;
  font-size: 1.2rem;
}
th {
  background-color: var(--bg-extremos);
  color: var(--primary-color);
  text-align: left;
}
tr > td:last-child,
tr > th:last-child {
  text-align: center;
}
tbody tr:nth-child(odd) {
  background-color: var(--secondary-color-alpha);
}

tfoot {
  border-bottom: 1px solid var(--primary-color);
}

ul.lista_articulos_relacionados {
  /* list-style: none; */
  list-style-position: inside;
  font-size: 1.6rem;
}
ul.lista_articulos_relacionados li {
  margin: 1rem 0rem;
}
/****************************
     PAGINA PRESENTACION
*****************************/
main.presentacion section p {
  font-size: 2rem;
  line-height: 3rem;
}
span.name_web_presentacion {
  text-decoration: underline;
  color: var(--cuaternary-color);
  font-size: 3.5rem;
}
/****************************
     PAGINA NOTICIA
*****************************/
div.noticia {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  background-color: var(--primary-color);
}
div.noticia_imagen {
  border: 10px solid var(--primary-color);
}
div.noticia_content {
  padding: 0 3rem;
  height: 100%;
}
/********************************
*          PAGINACION            *
*********************************/
ul.paginacion {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  list-style: none;
}
ul.paginacion li a:not(.flecha_l, .flecha_r) {
  background-color: var(--primary-color);
  border: 1px solid var(--cuaternary-color);
  display: inline-block;
  margin-right: 1rem;
  padding: 0.8rem 0.7rem;
  transition: all 200ms ease;
}
ul.paginacion .flecha_l {
  margin-right: 2rem;
}
ul.paginacion .flecha_r {
  margin-left: 2rem;
}
ul.paginacion li.active a,
ul.paginacion a:hover:not(.flecha_l, .flecha_r) {
  /* El border es para igualar el tamaño. sino se ve 1px más pequeño. */
  background-color: var(--quinary-color);
  border: 1px solid var(--quinary-color);
  color: var(--cuaternary-color);
}
/****************************
     PAGINA ENLACES
*****************************/
div.grid_enlaces_imagenes {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 2rem;
}
div.grid_enlaces_imagenes figure {
  height: 200px;
  margin-top: 4rem;
  justify-content: space-between;
}
div.grid_enlaces_imagenes figure img {
  border: 1px solid var(--primary-color);
  width: 100%;
  height: 20rem;
  object-fit: cover;
}
div.referencia_texto {
  margin-top: 5rem;
  display: flex;
  align-items: center;
}
div.referencia_texto p {
  margin-bottom: 0;
  margin-left: 1rem;
}
div.referencia_texto a {
  color: var(--cuaternary-color);
}
/****************************
   NEWSLETTER
*****************************/
div.newsletter {
  margin-top: 6rem;
  background-color: var(--terciary-color);
  color: var(--primary-color);
  padding: 5rem 0;
}
div.newsletter h2 {
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 3rem;
  font-size: 2em;
}
form ul {
  list-style: none;
}
form ul li {
  margin-bottom: 1rem;
}
input[type="text"],
input[type="email"] {
  background-color: var(--bg-color);
  border: none;
  font-size: 1.3rem;
  font-weight: 500;
  height: 4.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}
form {
  display: grid;
}
form ul {
  display: grid;
}
form input {
  margin-top: 0.5rem;
}
form button.bgeneral {
  width: 40%;
  height: 4.3rem;
  min-width: 13rem;
  border-radius: 0;
  justify-self: end;
}

span.error {
  display: inline-block;
  font-size: 1.1rem;
  color: var(--cuaternary-color);
}
/****************************
   FOOTER
*****************************/
footer.footer {
  background-color: var(--bg-extremos);
  min-height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer.footer ul.smedia_menu_footer {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 5rem;
}
footer.footer ul.smedia_menu_footer li {
  display: flex;
  padding: 1rem;
}
footer.footer ul li a {
  color: var(--primary-color);
}
footer.footer ul li a:hover {
  color: var(--cuaternary-color);
  transition: color 200ms ease-out;
}
footer ul {
  list-style: none;
  text-transform: uppercase;
}
footer.footer div.footer__enlaces {
  display: flex;
  flex-direction: column;
}
footer.footer div.footer__enlaces__paginas,
div.footer__enlaces__terminos {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer.footer ul:not(.smedia_menu_footer) {
  display: flex;

  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
footer.footer div.footer__enlaces h3 {
  margin-top: 2rem;
  text-transform: uppercase;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--cuaternary-color);
}
footer.footer ul li {
  margin: 0.5rem 0rem;
}

footer.footer > p {
  text-align: center;
  padding-bottom: 5rem;
  color: var(--cuaternary-color);
  text-transform: uppercase;
  font-size: 1rem;
}

footer img {
  width: 15rem;
  margin-top: 2rem;
}
footer p {
  margin-top: 5rem;
}
/****************************
    CLASES width="1000px" height="193.744px"
  *****************************/
.full_width {
  width: 100%;
}
.container {
  max-width: 1140px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.container_categoria {
  margin-top: 3rem;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 5rem;
}

.enlace {
  color: var(--cuaternary-color);
  cursor: pointer;
}
.object_fit_contain {
  object-fit: contain !important;
}
.logo {
  width: 8rem;
  height: 8rem;
}
.img_fluid {
  max-width: 100%;
  height: auto;
  display: block;
}
.clear_fix {
  clear: both;
}
/* .splide__slide img {
  object-fit: none;
  
} */
.banner_fluid {
  display: block;
  width: 100%;
  padding-top: var(--alto-header);
  background-color: var(--bg-secondary-color);
  
}
.banner_fluid img {
  max-width: 1140px;
  margin: 0 auto;
  width: 100% ;
}
.bgeneral {
  background-color: var(--cuaternary-color);
  border-radius: 5px;
  border: none;
  color: var(--bg-color);
  font-size: 1.5rem;
  padding: 1.2rem 1.2rem;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  transition: all 500ms ease;
}
.bgeneral .fa-chevron-right {
  margin-left: 2rem;
}
.bgeneral:hover {
  background-color: var(--cuaternary-color-alpha);
}

div.contenedor_flotado {
  margin-top: 3rem;
}
.elemento_flotado_r,
.elemento_flotado_l {
  margin-bottom: 1rem;
}
.thumbnail {
  margin-top: 2rem;
}

.img_margin_vertical {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

.grid-videos {
  margin-top: 3rem;
  display: grid;
  gap: 2rem;
}
.titulos_musicales {
  font-weight: bold;
  font-style: italic;
}
.articulos_relacionados {
  margin-top: 5rem;
  border-bottom: 2px solid var(--cuaternary-color);
  padding-bottom: 1rem;
}
.borde_grueso_imagen {
  border: 15px solid var(--primary-color);
}
@media (min-width: 530px) {
  /****************************
     PAGINA ENLACES
*****************************/
  div.grid_enlaces_imagenes {
    grid-template-columns: repeat(2, 1fr);
  }
}
/************************************************************************
                                    min-width: 768px
  ************************************************************************/
@media (min-width: 768px) {
  header.header {
    position: relative;
  }
  main:not(.index) {
    padding-top: 1rem;
  }
  /****************************
       PAGINA CATEGORIA
  *****************************/
  .container_categoria {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    margin-top: 3rem;
  }
  main.categoria article:not(:first-child) {
    margin-top: 0;
  }
  /****************************
       PAGINA PRESENTACION
  *****************************/
  main.presentacion section p {
    font-size: 2.5rem;
    line-height: 3.5rem;
  }
  p.banner__text {
    font-size: 2rem;
  }
  .banner_top {
    top: 3rem;
  }
  .banner_fluid {
    padding-top: 0rem;
  }

  /****************************
     PAGINA DETALLES GENERAL
*****************************/
  ul.breadcrumb {
    padding-top: 1rem;
  }
  div.grid__relacionados {
    grid-template-columns: repeat(2, 1fr);
  }
  div.noticia {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
  }
  div.noticia_imagen {
    grid-column: 1/3;
  }
  div.noticia_content {
    grid-column: 3/9;
    align-content: center;
  }
  div.noticia_content time {
    padding-top: 0.5rem;
  }
  div.noticia_content h2 {
    margin-bottom: 0;
    margin-top: 0.5rem;
  }

  /****************************
     NEWSLETTER
*****************************/

  .newsletter form {
    grid-template-columns: repeat(12, 1fr);
    align-content: center;
    gap: 1rem;
  }
  .newsletter ul {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .newsletter ul input {
    margin-top: 0;
    margin-bottom: 0;
  }
  .newsletter form button.bgeneral {
    width: 100%;
  }
  .newsletter form ul {
    grid-column: 1/10;
  }
  .newsletter form button {
    grid-column: 10/13;
  }
  /****************************
     FOOTER
*****************************/
  footer.footer div.footer__enlaces {
    display: flex;
    flex-direction: row;
    width: 60%;
    justify-content: space-between;
  }
  footer.footer div.footer__enlaces__paginas {
    align-items: start;
  }
  footer.footer ul.footer__enlaces__lista__paginas {
    align-items: start;
  }
  footer.footer ul.legal {
    align-items: end;
  }
  .elemento_flotado_r {
    float: right;
    margin-left: 2rem;
  }
  .elemento_flotado_l {
    float: left;
    margin-right: 2rem;
  }
}
/************************************************************************
                                    min-width: 992px
  ************************************************************************/
@media (min-width: 992px) {
  /****************************
       HEADER
  *****************************/
  header.header {
    position: relative;
  }
  nav.menu_principal {
    width: 90%;
  }
  div.bburguer_container {
    display: none;
  }
  nav div.name_web_in_logo {
    display: block;
  }
  nav div.name_web {
    display: none;
  }
  header.header ul.opciones_menu {
    /* le añado el important porque al modificar
    con javascript el css lo añade en linea y por tanto 
    supera en prioridad a la regla definida.  */
    display: flex !important;
    list-style: none;
    text-transform: uppercase;
    flex-direction: row;
    position: inherit;
    justify-content: left;
    width: auto;
    background-color: inherit;
    padding: inherit;
    z-index: inherit;
    width: 70%;
  }
  header.header ul.opciones_menu > li {
    margin: 1rem 0.75rem;
    border-bottom: inherit;
  }
  header.header ul.opciones_menu > li > a {
    color: var(--primary-color);
    display: inherit;

    padding: 1rem 0rem;
    font-size: 1.4rem;
    font-weight: 400;
    transition: all 500ms ease-out;
  }
  header.header ul.opciones_menu > li > a:hover {
    color: var(--cuaternary-color);
  }
  header.header ul.smedia_menu {
    display: none;
    list-style: none;
    width: 15%;
    justify-content: end;
  }
  header.header div.divlogo {
    width: 30%;
  }
  main:not(.index) {
    padding-top: 1rem;
  }
  div.card_content {
    height: 18rem;
  }
  /****************************
       PAGINA INDEX
  *****************************/
  .splide {
    height: 85vh;
  }
  .banner_top {
    top: 3rem;
  }
  .banner_bottom {
    bottom: 25rem;
  }
  p.banner__text {
    font-size: 3rem;
  }
  /****************************
       PAGINA CATEGORIA
  *****************************/
  .container_categoria {
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    margin-top: 3rem;
  }
  main.categoria article:not(:first-child) {
    margin-top: 0;
  }
  main.categoria {
    padding-top: 1rem;
  }
  /****************************
       PAGINA PRESENTACION
  *****************************/
  main.presentacion section p {
    font-size: 3rem;
    line-height: 4rem;
  }
  /****************************
       PAGINA DETALLE
  *****************************/
  div.grid-detalle {
    display: grid;
  }
  div.grid-detalle aside {
    margin-top: 0rem;
  }
  section.relacionados > h3 {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
  .banner_bottom {
    bottom: 20rem;
  }
  div.grid-detalle {
    grid-template-columns: repeat(12, 1fr);
    gap: 2rem;
    grid-gap: 2rem;
  }

  div.grid-detalle > *:first-child {
    grid-column: 1/9;
  }
  div.grid-detalle aside {
    grid-column: 9/13;
  }
  div.grid__relacionados {
    grid-template-columns: repeat(1, 1fr);
  }
  /****************************
     PAGINA ENLACES
*****************************/
  div.grid_enlaces_imagenes {
    grid-template-columns: repeat(3, 1fr);
  }
  /****************************
      clases
  *****************************/
  .grid-videos {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  header.header ul.opciones_menu {
    width: 60%;
    justify-content: center;
  }
  header.header ul.opciones_menu > li {
    margin: 1rem 0.9rem;
  }
  header.header ul.opciones_menu > li > a {
    font-size: 1.5rem;
  }
  header.header ul.smedia_menu {
    display: flex;
    width: 15%;
  }
  header.header div.divlogo {
    width: 25%;
  }

  /****************************
     FOOTER
*****************************/
  footer.footer div.footer__enlaces {
    flex-direction: column;
    width: 100%;
  }
  footer.footer div.footer__enlaces__paginas {
    align-items: center;
  }

  footer.footer ul.footer__enlaces__lista__paginas {
    flex-direction: row;
    justify-content: center;
    font-size: 1.6rem;
  }
  footer.footer div.footer__enlaces ul > li {
    position: relative;
  }
  footer.footer div.footer__enlaces ul > li:not(:first-child) {
    padding-left: 2rem;
  }
  footer.footer div.footer__enlaces ul > li:not(:last-child) {
    margin-right: 0.3rem;
  }
  footer.footer div.footer__enlaces ul > li:not(li:first-child)::before {
    content: "";
    border-left: 2px solid var(--cuaternary-color);
    height: 10%;
    left: 0;
    position: absolute;
    top: 40%;
  }
  footer.footer div.footer__enlaces li {
    margin: 0px 1.4rem;
  }
  footer.footer div.footer__enlaces__terminos {
    margin-top: 3rem;
  }
  footer.footer ul.legal {
    flex-direction: row;
  }
}
